 <div ng-controller="PostController" ng-show=user id="posts">
   <div id="postsContainer">
     <h1>Posts items for sale</h1>
     <div>Enter a headline, example: 'great samsung tv':</div>
     <input ng-model='headline' class='form-control' placeholder="enter an item.."/>
     <div>Enter description, example: 'great deal, located in the Mission':</div>
     <input ng-model='desc' class='form-control' />
     <div>Enter a price in USD, example: 200</div>
     <input ng-model='price' class='form-control'/>
     <button ng-click='addPost(headline, desc, price)' class='btn btn-default'>Click To Post Item</button></br></br>
 </div>

