<div id="container">
  <div id="welcome">
    <h1 id="description">Welcome</h1>
    <h3>This web application is a project to experiment with an Apigee data store. Here is a link to more information about <a href="http://apigee.com/about/"> Apigee</a>.</h3>
    <h3>Apigee offers users a full back end suite of products to take the burden off of companies and enhance productivity.</h3></br>
    <h1 class="desc">Post Items For Sale</h1>
    <h3>This link will check for a user token from Apigee, if none found the user will be asked to log in or sign up. Once the user is authenticated they are able to post items to a mock craigslist type market.</h3></br>
    <h1 class="desc">Search Posts For Sale</h1>
    <h3>This link will connect to another collection at the Apigee data store to retrieve items that are posted.</h3>
  </div>
</div>